#container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #3e3e3e;
  z-index: 10;
  -moz-box-shadow: 0 5px 3px 0 #343434;
  -webkit-box-shadow: 0 5px 3px 0 #343434;
  -o-box-shadow: 0 5px 3px 0 #343434;
  box-shadow: 0 5px 3px 0 #343434;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=180, Strength=3);
}

#inputFile{
  position: relative;
  float: left;
  margin: 20px;
}
.myBouton{
  margin: 20px;
  border-radius: 20px;
  background: white;
  padding: 5px 15px;
  border: none;
}
.myBouton:hover{
  background: #43a3e8;
  cursor: pointer;
  color: white;
}